Repository jfrog/jfrog-azure-devops-extension, pull requests merged in 2024-11, with the labels that each got.

#515 Upgrade the extension's tasks to use NPM 16
  tasks/JFrogAudit/task.json
  tasks/JFrogBuildPromotion/task.json
  tasks/JFrogBuildScan/task.json
  tasks/JFrogCliV2/task.json
  tasks/JFrogCollectIssues/task.json
  tasks/JFrogConan/task.json
  tasks/JFrogDiscardBuilds/task.json
  tasks/JFrogDistribution/task.json
  tasks/JFrogDocker/task.json
  tasks/JFrogDotnet/task.json
  tasks/JFrogGenericArtifacts/task.json
  tasks/JFrogGo/task.json
  tasks/JFrogGradle/task.json
  tasks/JFrogMaven/task.json
  tasks/JFrogNpm/task.json
  tasks/JFrogNuget/task.json
  tasks/JFrogPip/task.json
  tasks/JFrogPublishBuildInfo/task.json
  tasks/JFrogToolsInstaller/task.json
  tests/resources/task.json
Labels: bug, safe to test

#516 Update the default JFrog CLI version to 2.71.3
  jfrog-tasks-utils/utils.js
Labels: improvement, safe to test

#518 Upgrade the extension's tasks to use Node 20, or fallback to Node 10
  tasks/JFrogAudit/task.json
  tasks/JFrogBuildPromotion/task.json
  tasks/JFrogBuildScan/task.json
  tasks/JFrogCliV2/task.json
  tasks/JFrogCollectIssues/task.json
  tasks/JFrogConan/task.json
  tasks/JFrogDiscardBuilds/task.json
  tasks/JFrogDistribution/task.json
  tasks/JFrogDocker/task.json
  tasks/JFrogDotnet/task.json
  tasks/JFrogGenericArtifacts/task.json
  tasks/JFrogGo/task.json
  tasks/JFrogGradle/task.json
  tasks/JFrogMaven/task.json
  tasks/JFrogNpm/task.json
  tasks/JFrogNuget/task.json
  tasks/JFrogPip/task.json
  tasks/JFrogPublishBuildInfo/task.json
  tasks/JFrogToolsInstaller/task.json
  tests/resources/task.json
Labels: bug, safe to test

#519 Promote to version 2.10.4
  jfrog-tasks-utils/utils.js
Labels: ignore for release

#521 Improve CI tests
  .github/workflows/cloudTests.yml
  .github/workflows/dockerTests.yml
  .github/workflows/tests.yml
  tests/resources/docker/pull.js
  tests/resources/docker/push.js
  tests/resources/docker/scan.js
  tests/testUtils.ts
  tests/tests.ts
Labels: ignore for release, safe to test
